<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
<!--    <th:block th:each="choice : ${jobs}">-->
    <table th:each="choice : ${jobs}" class="job-listing">
        <tr>
                <td>ID</td>
                <td th:text = "${choice.id}"></td>
        </tr>
        <tr>
                <td>Name</td>
                <td th:text = "${choice.name}"></td>
        </tr>
        <tr>
                <td>Employer</td>
                <td th:text = "${choice.employer}"></td>
        </tr>
        <tr>
                <td>Location</td>
                <td th:text = "${choice.location}"></td>
        </tr>
        <tr>
                <td>Position Type</td>
                <td th:text = "${choice.positionType}"></td>
        </tr>
            <tr>
                <td>Skill</td>
                <td th:text = "${choice.coreCompetency}"></td>
            </tr>
    </table>
<!--        </th:block>-->
<table>
        <tr>
            <!-- TODO #2: Complete the View Jobs By Category Table. -->

            <td></td> <!-- Feel free to remove or modify this element if necessary. -->

            <td th:each="category : ${tableChoices}">
                <ul>
                    <li th:each="item : ${category.value}">

                    </li>
                </ul>
            </td>
        </tr>
    </table>

</div>

</body>
</html>